@model Ahmynar_MVC.Models.EquipamentVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EquipamentVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEquipament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEquipament)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acessories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acessories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obs)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @(Model.Customer.TradeName == null ? Model.Customer.CustomerName : Model.Customer.TradeName)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
