@model IEnumerable<Ahmynar_MVC.Models.BudgetVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpireDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalServices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalProducts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href = '@Url.Action("Details", new { id=item.Id })'">
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalServices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalProducts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @(item.Customer.TradeName == null ? item.Customer.CustomerName : item.Customer.TradeName)
            </td>
            <td>
                <form asp-action="Cancel" asp-route-id=@item.Id method="post">
                    <button type="submit" class="btn btn-link" onclick="return confirm('Deseja cancelar esse orçamento?')">Cancelar</button>
                </form>
                <form asp-action="Delete" asp-route-id=@item.Id method="post">
                    <button type="submit" class="btn btn-link" onclick="return confirm('Deseja remover esse orçamento?')">Remover</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
