@model Ahmynar_MVC.Models.CreateSaleVM

@{
    ViewData["Title"] = "Criar Venda";
}

<h1 class="page-title">Nova Venda</h1>

<div class="create-page">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex justify-content-between radio-div mb-3">
            @foreach (var ts in System.Enum.GetValues(typeof(Ahmynar_Domain.Enums.TypeSale)))
            {
                <div class="d-flex flex-row-reverse align-items-md-center">
                    <label asp-for="TypeSale" class="form-check-label radio-label">@(ts.ToString() == "BudgetSale" ? "Venda Orçamento" : "Venda Rápida")</label>
                    <input asp-for="TypeSale" type="radio" value="@((int)ts)" class="form-check-input radio-data" id="@ts.ToString()" checked="checked" />
                    <span asp-validation-for="TypeSale" class="text-danger"></span>
                </div>
            }
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Dados de pagamento</span>
            <div class="d-flex justify-content-between ">
                <div class="group-row d-none flex-column selective-row group-data-budget-sale">
                    <div class="group-row-label">
                        <label asp-for="BudgetId" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <select asp-for="BudgetId" asp-items="Model.Budgets" id="budgetSelectize" class="selectize-data">
                        </select>
                    </div>
                    <span asp-validation-for="BudgetId" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column selective-row group-data-products-sale">
                    <div class="group-row-label">
                        <label asp-for="ProductIds" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <select asp-for="ProductIds" asp-items="Model.ProductsList" id="productSelectize" class="selectize-data" multiple>
                        </select>
                    </div>
                    <span asp-validation-for="ProductIds" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column align-items-baseline">
                    @foreach (var ps in System.Enum.GetValues(typeof(Ahmynar_Domain.Enums.PaymentSale)))
                    {
                        <div class="d-flex flex-row-reverse justify-content-between align-items-md-center">
                            <label asp-for="PaymentSale" class="form-check-label group-radio-label">@(ps.ToString() == "Debit" ? "Débito" : ps.ToString() == "Credit" ? "Crédito" : ps.ToString() == "Installment" ? "Crédito c/ Parcel." : ps.ToString() == "Boleto" ? "Boleto" : ps.ToString() == "Pix" ? "Pix" : "Cheque")</label>
                            <input asp-for="PaymentSale" type="radio" value="@((int)ps)" class="form-check-input" id="@ps.ToString()" checked="checked" />
                            <span asp-validation-for="PaymentSale" class="text-danger"></span>
                        </div>
                    }
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="InstallmentPayment" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="InstallmentPayment" id="installment" class="input-data" />
                    </div>
                    <span asp-validation-for="InstallmentPayment" class="text-danger"></span>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        <label asp-for="TotalSale" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <input asp-for="TotalSale" id="totalSale" class="input-data" />
                    </div>
                    <span asp-validation-for="TotalSale" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column mb-2 group-data">
            <span class="group-desc">Outros</span>
            <div class="d-flex justify-content-between  obs-input">
                <div class="group-row d-flex flex-column w-100">
                    <div class="group-row-label">
                        <label asp-for="Obs" class="control-label"></label>
                    </div>
                    <div class="group-row-data">
                        <textarea asp-for="Obs" class="input-data textarea-data w-100"></textarea>
                    </div>
                    <span asp-validation-for="Obs" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="footer-buttoms d-flex justify-content-end mt-4">
            <button id="btnBack" class="btn-details">
                <img src="~/icon/back.svg" class="btn-details-icon" /> Voltar
            </button>
            <button type="submit" value="Create" class="btn-details">
                <img src="~/icon/register.svg" class="btn-details-icon" /> Registrar
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
      $("#productSelectize").selectize({
          plugins: ["remove_button"],
          delimiter: ",",
          persist: false,
          create: false,
          sortField: "text",
          placeholder: "Selecione um produto"
      });

      $("#budgetSelectize").selectize({
          create: false,
          sortField: "text",
          placeholder: "Selecione um orçamento"
      });

      $(document).on("click", ".radio-data", function () {
            if ($("#BudgetSale").is(":checked")) {
                $("#productSelectize")[0].selectize.clearOptions();
                $("#productSelectize")[0].selectize.refreshOptions(true);
                $(".group-data-budget-sale").removeClass("d-none").addClass("d-flex");
                $(".group-data-products-sale").removeClass("d-flex").addClass("d-none");
            }
            else if ($("#ProductSale").is(':checked')) {
                $("#budgetSelectize")[0].selectize.clearOptions();
                $("#budgetSelectize")[0].selectize.refreshOptions(true);
                $(".group-data-products-sale").removeClass("d-none").addClass("d-flex");
                $(".group-data-budget-sale").removeClass("d-flex").addClass("d-none");
            }
        });

      $("#btnBack").click(function () {
          $("span").each(function () {
              $(this).remove();
          });
          location.href = '@(Html.Raw(Url.Action("Index")))';
      });
</script>
}
