@model Ahmynar_MVC.Models.SaleVM

@{
    ViewData["Title"] = "Detalhes da Venda";
}

<head>
    <link rel="stylesheet" href="~/css/Sale/sale.css" asp-append-version="true" />
</head>

<h1 class="page-title">Detalhes da Venda</h1>

<div class="detail-page d-flex flex-column mb-4">
    @if (Model.TypeSale == Ahmynar_Domain.Enums.TypeSale.BudgetSale)
    {
        <h4 class="detail-name budget-num">@Html.DisplayFor(model => model.Budget.Number)<span class="detail-name"> ► @Html.DisplayFor(model => model.TypeSale)</span></h4>
        <div class="group-data mb-3">
            <span class="group-desc">Dados de pagamento</span>
            <div class="d-flex justify-content-between mt-2">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.PaymentSale)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.PaymentSale)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.InstallmentPayment)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.InstallmentPayment)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.TotalDiscounts)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.TotalDiscounts)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.TotalSale)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.TotalSale)
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="detail-name">► @Html.DisplayFor(model => model.TypeSale)</h4>
        <div class="group-data mb-3">
            <span class="group-desc">Dados de pagamento</span>
            <div class="d-flex justify-content-between mt-2">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.ProductIds)
                    </div>
                    @foreach (var prod in Model.Products)
                    {
                        <div class="group-row-data">
                            @prod.Description
                        </div>
                    }
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.PaymentSale)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.PaymentSale)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.InstallmentPayment)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.InstallmentPayment)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.TotalDiscounts)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.TotalDiscounts)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.TotalSale)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.TotalSale)
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="group-data mb-3">
        <span class="group-desc">Outros</span>
        <div class="d-flex justify-content-between mt-2">
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Obs)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.Obs)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-buttoms d-flex justify-content-end">
    <form asp-action="Index" method="get">
        <button type="submit" class="btn-details">
            <img src="~/icon/back.svg" class="btn-details-icon" /> Voltar
        </button>
    </form>
</div>