@model IEnumerable<Ahmynar_MVC.Models.SaleVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InstallmentPayment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalSale)
            </th>
            <th>
                Número do Orçamento
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="location.href = '@Url.Action("Details", new { id=item.Id })'">
            <td>
                @Html.DisplayFor(modelItem => item.TypeSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstallmentPayment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Budget.Number)
            </td>
        </tr>
}
    </tbody>
</table>
