@model Ahmynar_MVC.Models.CustomerVM

@{
    ViewData["Title"] = "Detalhes do Cliente";
}

<head>
    <link rel="stylesheet" href="~/css/Customer/customer.css" asp-append-version="true" />
</head>

<h1 class="page-title">Detalhes do Cliente</h1>

<div class="detail-page d-flex flex-column mb-4">
    @if (Model.TypeCustomer == Ahmynar_Domain.Enums.TypeCustomer.LegalEntity)
    {
        <h4 class="detail-name">@Html.DisplayFor(model => model.TradeName) ► @Html.DisplayFor(model => model.TypeCustomer)</h4>
        <div class="group-data mb-3">
            <span class="group-desc">Dados pessoais</span>
            <div class="d-flex justify-content-between mt-2">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.CompanyName)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.CompanyName)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.Cnpj)
                    </div>
                    <div class="group-row-data cpf-cnpj">
                        @Html.DisplayFor(model => model.Cnpj)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.IE)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.IE)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.IM)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.IM)
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h4 class="detail-name">@Html.DisplayFor(model => model.CustomerName) ► @Html.DisplayFor(model => model.TypeCustomer)</h4>
        <div class="group-data mb-3">
            <span class="group-desc">Dados pessoais</span>
            <div class="d-flex justify-content-between mt-2">
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.Cpf):
                    </div>
                    <div class="group-row-data cpf-cnpj">
                        @Html.DisplayFor(model => model.Cpf)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.Rg)
                    </div>
                    <div class="group-row-data rg-num">
                        @Html.DisplayFor(model => model.Rg)
                    </div>
                </div>
                <div class="group-row d-flex flex-column">
                    <div class="group-row-label">
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </div>
                    <div class="group-row-data">
                        @Html.DisplayFor(model => model.BirthDate)
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="group-data mb-3">
        <span class="group-desc">Dados de contato</span>
        <div class="d-flex justify-content-between mt-2">
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Phone)
                </div>
                <div class="group-row-data phone-num">
                    @Html.DisplayFor(model => model.Phone)
                </div>
            </div>
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Cellphone)
                </div>
                <div class="group-row-data cellphone-num">
                    @Html.DisplayFor(model => model.Cellphone)
                </div>
            </div>
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Email)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.Email)
                </div>
            </div>
        </div>
    </div>
    <div class="group-data mb-3">
        <span class="group-desc">Dados de endereço</span>
        <div class="d-flex justify-content-between mt-2">
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Address)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </div>
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Number)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.Number)
                </div>
            </div>
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Address2)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.Address2)
                </div>
            </div>
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.AddressComplement)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.AddressComplement)
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between mt-2">
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.City)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.City)
                </div>
            </div>
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.State)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.State)
                </div>
            </div>
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Cep)
                </div>
                <div class="group-row-data cep-num">
                    @Html.DisplayFor(model => model.Cep)
                </div>
            </div>
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Country)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.Country)
                </div>
            </div>
        </div>
    </div>
    <div class="group-data mb-3">
        <span class="group-desc">Outros</span>
        <div class="d-flex justify-content-between mt-2">
            <div class="group-row d-flex flex-column">
                <div class="group-row-label">
                    @Html.DisplayNameFor(model => model.Obs)
                </div>
                <div class="group-row-data">
                    @Html.DisplayFor(model => model.Obs)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-buttoms d-flex justify-content-end">
    <form asp-action="Index" method="get">
        <button type="submit" class="btn-details">
            <img src="~/icon/back.svg" class="btn-details-icon" /> Voltar
        </button>
    </form>
    <form asp-action="Edit" asp-route-id="@Model.Id" method="get">
        <button type="submit" class="btn-details">
            <img src="~/icon/edit.svg" class="btn-details-icon" /> Editar Cliente
        </button>
    </form>
</div>
