@model IEnumerable<Ahmynar_MVC.Models.CustomerVM>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<div class="index-header d-flex justify-content-between align-items-baseline">
    <div class="d-flex flex-column">
        <h1 class="index-title">Lista de Clientes</h1>
        <p class="index-count"><span id="qttRows"></span> clientes</p>
    </div>
    <form asp-action="Create" method="get">
        <button type="submit" class="btn-register">
            <img src="~/icon/add.svg" class="btn-register-icon" /> Registrar Cliente
        </button>
    </form>
</div>

<div class="index-search d-flex justify-content-center">
    <input class="input-search" name="filter" type="text" />
</div>

<table class="index-table">
    <thead class="table-head">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeCustomer)
            </th>
            <th>
                Nome Jurídico/Físico
            </th>
            <th>
                CNPJ/CPF
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cellphone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-body">
@foreach (var item in Model) {
        <tr onclick="location.href = '@Url.Action("Details", new { id=item.Id })'">
            <td>
                @Html.DisplayFor(modelItem => item.TypeCustomer)
            </td>
            <td>
                @(item.TradeName == null ? item.CustomerName : item.TradeName)
            </td>
            <td class="cpf-cnpj">
                @(item.Cnpj == null ? item.Cpf : item.Cnpj)
            </td>
            <td class="cellphone-num">
                @Html.DisplayFor(modelItem => item.Cellphone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td class="cep-num">
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td class="d-flex justify-content-center align-items-end">
                <form asp-action="Edit" asp-route-id=@item.Id method="get">
                    <button type="submit" class="btn btn-link td-button">
                        <img src="~/icon/edit.svg" class="td-icon" />
                    </button>
                </form>
                <form asp-action="Delete" asp-route-id=@item.Id method="post">
                    <button type="submit" class="btn btn-link td-button" onclick="return confirm('Deseja remover esse item?')">
                        <img src="~/icon/delete.svg" class="td-icon" />
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>